services:
  db:
    image: postgres:16
    container_name: gexyshop_db
    restart: unless-stopped
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5433:5432"

  web:
    build: .
    container_name: gexyshop_web
    restart: unless-stopped
    command: python manage.py runserver 0.0.0.0:8000
    depends_on:
      - db
    env_file:
      - .env
    volumes:
      - .:/app
      - media_data:/app/media
    ports:
      - "8000:8000"

volumes:
  postgres_data:
  media_data:
