{% load static %}

<!--=============================================
	=            footer area         =
	=============================================-->

  <div class="footer-container footer-one pt-100 pb-50">
    <div class="container">
      <div class="row">
        <div class="col footer-single-widget">
          <!--=======  copyright text  =======-->
          <!--=======  logo  =======-->

          <div class="logo">
            <img src="{% static 'assets/images/logo.png' %}" class="img-fluid" alt="">
          </div>

          <!--=======  End of logo  =======-->

          <!--=======  copyright text  =======-->

          <div class="copyright-text">
            <p> &copy; <script>document.write(new Date().getFullYear() + ' ');</script> لزادا <span>تمامی حقوق محفوظ است.</span></p>
          </div>

          <!--=======  End of copyright text  =======-->

          <!--=======  End of copyright text  =======-->
        </div>
        <div class="col footer-single-widget">
          <!--=======  single widget  =======-->
          <h5 class="widget-title">در باره</h5>

          <!--=======  footer navigation container  =======-->

          <div class="footer-nav-container">
            <nav>
              <ul>
                <li><a href="#">درباره ما</a></li>
                <li><a href="#">محل فروشگاه</a></li>
                <li><a href="#">مخاطب</a></li>
                <li><a href="#">پیگیری سفارشات</a></li>
              </ul>
            </nav>
          </div>

          <!--=======  End of footer navigation container  =======-->

          <!--=======  single widget  =======-->
        </div>
        <div class="col footer-single-widget">
          <!--=======  single widget  =======-->
          <h5 class="widget-title">لینک های مفید</h5>

          <!--=======  footer navigation container  =======-->

          <div class="footer-nav-container">
            <nav>
              <ul>
                <li><a href="#">برمی گرداند</a></li>
                <li><a href="#">خط مشی پشتیبانی</a></li>
                <li><a href="#">راهنمای اندازه</a></li>
                <li><a href="#">سوالات متداول</a></li>
              </ul>
            </nav>
          </div>

          <!--=======  End of footer navigation container  =======-->

          <!--=======  single widget  =======-->
        </div>

        <div class="col footer-single-widget">
          <!--=======  single widget  =======-->
          <h5 class="widget-title">ما را دنبال در</h5>

          <!--=======  footer navigation container  =======-->

          <div class="footer-nav-container footer-social-links">
            <nav>
              <ul>
                <li><a href="//instagram.com"><i class="fa fa-instagram"></i> اینستاگرام</a></li>
              </ul>
            </nav>
          </div>

          <!--=======  End of footer navigation container  =======-->


          <!--=======  single widget  =======-->
        </div>

            <!--=======  End of subscription form  =======-->

            <!-- mailchimp-alerts Start -->

            <div class="mailchimp-alerts">
              <div class="mailchimp-submitting"></div><!-- mailchimp-submitting end -->
              <div class="mailchimp-success"></div><!-- mailchimp-success end -->
              <div class="mailchimp-error"></div><!-- mailchimp-error end -->
            </div><!-- mailchimp-alerts end -->

          </div>
            
          <!--=======  End of single widget  =======-->
        </div>
      </div>
    </div>
  </div>

  <!--=====  End of footer area  ======-->