  {% load static %}
  <header class="header header-wide-topbar header-sticky">

    <!--=======  header top  =======-->

    <div class="header-top pt-10 pb-10">
      <div class="container wide">
        <!--=======  header top container  =======-->

        <div class="header-top-container">
          <!--=======  header top left  =======-->

          <div class="header-top-left">

            <!--=======  order online text  =======-->

            <div class="order-online-text">
              سفارش آنلاین با ما تماس بگیرید <a href="#"><span class="number">09307190078</span></a>
            </div>

            <!--=======  End of order online text  =======-->

          </div>

          <!--=======  End of header top left  =======-->

          <!--=======  header top right  =======-->

          <div class="header-top-right">
            <!--=======  top shop sropdown =======-->

            <!--=======  top social icons  =======-->

            <div class="top-social-icons">
              <ul>
                <li><a href="//www.instagram.com"><i class="fa fa-instagram"></i></a></li>
              </ul>
            </div>

            <!--=======  End of top social icons  =======-->
          </div>

          <!--=======  End of header top right  =======-->
        </div>

        <!--=======  End of header top container  =======-->
      </div>
    </div>

    <!--=======  End of header top  =======-->

    <!--=======  header bottom  =======-->

    <div class="header-bottom pt-md-40 pb-md-40 pt-sm-40 pb-sm-40">
      <div class="container wide">


        <!--=======  header bottom container  =======-->

        <div class="header-bottom-container">

          <!--=======  logo with off canvas  =======-->

          <div class="logo-with-offcanvas d-flex">



            <!--=======  logo   =======-->

            <div class="logo">
              <a href="{%url 'main:home'%}">
                <img src="{% static 'assets/images/logo.png' %}" class="img-fluid" alt="">
              </a>
            </div>

            <!--=======  End of logo   =======-->
          </div>

          <!--=======  End of logo with off canvas  =======-->

          <!--=======  header bottom navigation  =======-->

          <div class="header-bottom-navigation">
            <div class="site-main-nav d-none d-lg-block">
              <nav class="site-nav center-menu">
                <ul>
                </ul>
              </nav>
            </div>
          </div>

          <!--=======  End of header bottom navigation  =======-->

          <!--=======  headeer right container  =======-->

          <div class="header-right-container">

            <!--=======  header right icons  =======-->

            <div class="header-right-icons d-flex justify-content-end align-items-center h-100">
              <!--=======  single-icon  =======-->
              <div class="single-icon search">
                <a href="javascript:void(0)" id="search-icon">
                  <i class="ion-ios-search-strong"></i>
                </a>
                <form id="search-form" action="{% url 'products:product_search' %}" method="get" style="display:none;"
                    class="search-box">
                  <input type="text" name="search" id="search-input" placeholder="جستجو کنید ..." autocomplete="off">
                  <button type="submit" class="btn btn-success">جستجو</button>
              </form>

              </div>

              <!--=======  End of single-icon  =======-->
              <!--=======  single-icon  =======-->

             <div class="single-icon user-login">
                {% if user.is_authenticated %}
                    <span class="user-name">{{ user.username }}</span>
                    <a href="{% url 'accounts:logout' %}">
                        <i class="ion-android-person"></i>
                    </a>
                {% else %}
                    <a href="{% url 'accounts:login' %}">
                        <i class="ion-android-person"></i>
                    </a>
                {% endif %}
            </div>


              <!--=======  End of single-icon  =======-->

              <div class="single-icon user-logout">
                  <a href="{% url 'accounts:logout' %}">
                      <i class="ion-log-out"></i>
                  </a>
              </div>


              <!--=======  single-icon  =======-->

              <div class="single-icon wishlist">
                <a href="{% url 'cart:wishlist' %}" >
                    <i class="ion-heart"></i>
                    <span id="wishlist-count" class="count wishlist-count">{{ wishlist_count }}</span>
                </a>
              </div>

              <!--=======  End of single-icon  =======-->
              <!--=======  single-icon  =======-->

              <div class="single-icon cart">
                <a href="{% url 'cart:cart_view' %}" >
                    <i class="ion-ios-cart"></i>
                    <span id="cart-count" class="count">{{ cart_count|default:0 }}</span>
                </a>

              </div>

              <!--=======  End of single-icon  =======-->

            </div>
            <!--=======  End of header right icons  =======-->

          </div>

          <!--=======  End of headeer right container  =======-->


        </div>

        <!--=======  End of header bottom container  =======-->

      </div>
    </div>

    <!--=======  End of header bottom  =======-->

  </header>

